<h2>Celebrity Details</h2>

{{#with celebritySelected}}
  <p>Name: {{name}}</p>
  <p>Ocuppation: {{occupation}}</p>
  <p>Catch Phrase: {{catchPhrase}}</p>

  <a href="/celebrities/{{_id}}/edit">Edit this Celebrity</a>
{{/with}}

